/* PAGE'S MAIN STYLE ISTRUCTIONS */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: auto;
  padding-top: 20px;
  /* regole di debug */
  border: 3px solid yellow;

}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.big_button{
  text-decoration: none;
  color: white;
  background-color: #ff7a59;
  margin-top: 50px;
  padding: 20px 35px;
  border-radius: 6px;
  transition: background-color 1s;
}

.big_button:hover{
  background-color: rgba(255, 122, 89, 0.5);
}

p{
  line-height: 25px;
}

hr{
  border: 1px solid #33475b;
  background-color: #33475b;
}

i{
  color: #ff7a59;
}

h1{
  font-size: 45px;
}
h2{
  font-size: 35px;
}

h3{
  font-size: 25px;
}
/* HEADER'S ISTRUCTOINS */


/* NAVBAR'S ISTRUCTIONS */
/* ---------------------------------------------------------- */
.nav_container{
  width:100%;
  position: fixed;
  top:0px;
  z-index: 999;
  /* regole di debug */
  border:3px solid red;
}


nav{
  width: 80%;
    margin: auto;
  /* regole di debug */
  border:1px solid black;
  /* height: 100px; */
}

/* parte alta della navbar ...............*/
.nav_section.upside{
  /* regole di debug */
  height: 60px;
  background-color: #f5f8fa;
  border-bottom: 1px solid black;
}

.nav_top_left{
  float: left;
  height: 60px;
  line-height: 60px;
  /* regole di debug */
  border:1px solid red;
}

.nav_top_left a{
  margin-right: 20px;
  text-decoration: none;
  color:black;
}

.nav_top_left a:nth-of-type(2){
  border-left: 1px solid black;
  padding-left: 10px;
  text-decoration: none;
  color:black;
}

.nav_top_right{
  float: right;
  height: 60px;
  line-height: 60px;
  /* regole di degub */
  border:1px solid green;
}

.nav_top_right a{
  text-decoration: none;
  margin-left: 10px;
}

.nav_top_right > a:first-of-type{
  border:1px solid #ff7a59;
  border-radius: 4px;
  padding: 6px 15px;
}

.nav_top_right > a:nth-of-type(2){
  background-color: #ff7a59;
  border-radius: 4px;
  padding: 6px 15px;
  color: white;
}

/* parte bassa della navbar............... */
.nav_section.downside{
  /* regole di debug */
  height: 60px;
  background-color: white;
}

.nav_bottom_left{
  height: 60px;
  line-height: 60px;
  float: left;
}
.nav_bottom_left img{
  vertical-align: middle;
}

.nav_bottom_right{
  float: right;
  height: 60px;
  line-height: 60px;
}

.nav_bottom_right ul li{
  display: inline-block;
}

.nav_bottom_right ul li a{
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

.nav_bottom_right ul li i{
  margin-left: 10px;
}


/* JUMBOTRON INSTRUCTION ------------------------------------------*/
.jumbotron{
  height: 670px;
  margin-top: 120px;
  /* background-color: lightblue; */
  background-image: url(../img/img-jumbotron/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.jumbotext{
  width: 40%;
  margin-top: 60px;
  color: #33475b;
  /* regole di debug */
  border:1px solid black;
}

.jumbotext h1{
  margin-bottom: 20px;
}

.jumbotext p{
  font-weight: lighter;
  /* line-height: 25px; */
  margin-bottom: 50px;
}

.greenspot{
  height: 100px;
  background-color: #a8ffcb;
}

/* ISTRUZIONI DEL MAIN----------------------------------------------- */

/* istruzioni generiche sezioni-------- */
.business_details{
  /* regole di debug */
  /* height: 1200px; */

  background-color: #f5f8fa;
}

.comunity{
  color: white;
  text-align: center;
  padding: 100px 0;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  /* regole di debug */
  /* height: 700px; */
}

.clients{
/* }regole debug */
  height: 600px;
  background-color: lightblue;
}

/* parte alta della PRIMA SEZIONE busines details */
.logo_section{
  text-align: center;
  color: #33475b;
  /* regole di debug */
  /* height: 150px; */
  border: 1px solid black;
}



.logo_section h2{
  margin: 20px 0;
}

.logo_section p{
  margin: 0 150px;
}

.cubo{
  width: 30%;
  height: auto;
  margin: 0 auto;
  /* regole debug */
  border: 1px solid red;
}

.cubo img{
  width: 100%;
}

/* regile generali della parte centrale della PRIMA SEZIONE business details */
.row{
  background-color: white;
  margin: 20px 0;
  padding-bottom: 40px;
  /* regole di debug */
  /* height: 300px; */
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

.column{
  width: 30%;
  color: #33475b;
  float: left;
  /* relole di debug */
  border: 1px solid red;
  /* height: 100%; */

}
/* free_hubspot row istruction---------------------------- */

.free_hubspot .column:nth-child(2){
  width: calc(100% - 30%);
  /* padding-right: 200px; */
}

.popular_fetures .column:first-child{
  width: 30%;
}

.popular_fetures .column:last-child{
  width: 30%;
}

.popular_fetures .column:nth-child(2){
  width: 30%;
  margin: 0 5%;
}

/* istruzioni prima sezione, row centrale, colonna sinistra */
 .img_container{
  width: 150px;
  height: auto;
  margin: 40px auto 20px;
  /* regole di debug */
  border:1px solid green;
}

.img_container img{
  width: 100%;
  height: 155.11px;
}

.free_hubspot_cta{
  margin: 40px 0;
  text-align: center;
}

/* istruzioni prima sezione, row centrale, colonna destra*/

.row.free_hubspot .column #cmr_title{
  font-size: 25px;
  margin: 40px auto 20px;
}

.hubspot_cmr h3{
  margin: 30px 25px 0 0;
}

.hubspot_cmr{
  margin: 20px 0 20px;
}

.hubspot_cmr hr{
  width: 70%;
  vertical-align: middle;
}

.hubspot_cmr h3, hr{
  display: inline-block;
}

.row.free_hubspot .column ul li{
  display: inline-block;
  margin-right: 20px;
}

.row.free_hubspot .column ul li a{
  text-decoration: none;
  color: #33475b;
  margin-left: 10px;
}

/* istruzioni prima sezione, ultima row */
.row.popular_fetures .column{
  text-align: center;
  padding: 0 20px;
}

.row.popular_fetures .column h3{
  margin: 20px 0;
}

.row.popular_fetures hr{
  width: 100%;
  margin-top: 40px;
}

.row.popular_fetures .column ul li{
  list-style-type: none;
  text-align: left;
}

.row.popular_fetures .column ul li i{
  margin-right: 15px;
  color:
}

.row.popular_fetures .column ul{
  margin-bottom: 50px;
}


/* istruzioni sezione COMUNITY ---------------------------*/


.section_comunity_header p{
  margin: 20px 0 60px;
}

/* section comunity grid */
.section_comunity_grid{
  border:1px solid white;
  /* regole di debug */
  height: 400px;
}

.grid_row{
  border: 1px solid pink;
  /* regole di debug */
  height: 200px;
}

.grid_card{
  width: calc(100% / 4);
  height: 100%;
  border: 1px solid purple;
  float: left;
}

.card_img, .card_data, .card_title{
  height: calc(100% /3);
}

.section_comunity_grid .grid_row .card_data h2{
  font-size: 45px;
}

.card_data h2 span{
  font-size: 15px;
  vertical-align: middle;
}

footer{
  /* regole debug */
  height: 500px;
  background-color: #2d3e50;
}
