/* PAGE'S MAIN STYLE ISTRUCTIONS */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: auto;
  border: 3px solid yellow;
  background:none;
}

/* HEADER'S ISTRUCTOINS */


/* NAVBAR'S ISTRUCTIONS */
/* ---------------------------------------------------------- */
nav{
  width: 80%;
  margin: auto;
  /* regole di debug */
  border:1px solid black;
  /* height: 100px; */
}

/* parte alta della navbar ...............*/
.nav_section.upside{
  /* regole di debug */
  height: 60px;
  background-color: #f5f8fa;
  border-bottom: 1px solid black;
}

.nav_top_left{
  float: left;
  height: 60px;
  line-height: 60px;
  /* regole di debug */
  border:1px solid red;
}

.nav_top_left a{
  margin-right: 20px;
  text-decoration: none;
  color:black;
}

.nav_top_left a:nth-of-type(2){
  border-left: 1px solid black;
  padding-left: 10px;
  text-decoration: none;
  color:black;
}

.nav_top_right{
  float: right;
  height: 60px;
  line-height: 60px;
  /* regole di degub */
  border:1px solid green;
}

.nav_top_right a{
  text-decoration: none;
  margin-left: 10px;
}

.nav_top_right > a:first-of-type{
  border:1px solid #ff7a59;
  border-radius: 4px;
  padding: 6px 15px;
}

.nav_top_right > a:nth-of-type(2){
  background-color: #ff7a59;
  border-radius: 4px;
  padding: 6px 15px;
  color: white;
}

/* parte bassa della navbar............... */
.nav_section.downside{
  /* regole di debug */
  height: 60px;
}

.nav_bottom_left{
  height: 60px;
  line-height: 60px;
  float: left;
}
.nav_bottom_left img{
  vertical-align: middle;
}

.nav_bottom_right{
  float: right;
  height: 60px;
  line-height: 60px;
}

.nav_bottom_right ul li{
  display: inline-block;
}

.nav_bottom_right ul li a{
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

.nav_bottom_right ul li i{
  margin-left: 10px;
}


/* JUMBOTRON INSTRUCTION ------------------------------------------*/
.jumbotron{
  height: 570px;
  /* background-color: lightblue; */
  background-image: url(../img/img-jumbotron/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotext{
  width: 40%;
  margin-top: 150px;
  /* regole di debug */
  border:1px solid black;
}

.jumbotext h1{
  font-size: 45px;
  margin-bottom: 20px;
}

.jumbotext p{
  font-weight: lighter;
}

.greenspot{
  height: 100px;
  background-color: #a8ffcb;
}
